@charset "utf-8";
/* CSS Document */

#logo { padding:19px 0 15px; }

body, .copyright p a, .footer-links li a { color:#333; }

.parallax-bg { background-image:url(http://www.placehold.it/1920x649&text=Parallax); }

.dt-sc-ico-content.type10:hover p { color:#fff; -webkit-transition:all 300ms linear 0s; -moz-transition:all 300ms linear 0s; -o-transition:all 300ms linear 0s; -ms-transition:all 300ms linear 0s; transition:all 300ms linear 0s; }

#footer .footer-widgets-wrapper.type4 { background-color:#000000; }

@media only screen and (min-width:768px) and (max-width:959px) {
.container { width:710px; }
#logo { padding:20px 0 13px !important; }
}